<div class="registration-form-wrapper">
    <div class="card">
      <div class="card-header">
        ONLINE REGISTRATION - JIA-CDO 28TH THANKSGIVING ANNIVERSARY
      </div>

      <%= render 'form', profile: @profile %>
    </div>
</div>

