@import "bootstrap";

.registration-form-wrapper {
    width: 50%;
    margin:  auto;
    margin-top: 25px;
}

.admin-form-wrapper {
    width: 80%;
    margin:  auto;
    margin-top: 25px;
}

.card-header p {
    margin-bottom: 0!important;
}

.edit-icon{
    padding-right: 5px;
}

.delete-icon{
    padding-left: 5px;
}

.actions-td span:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {
    .registration-form-wrapper{
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .registration-form-wrapper{
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {
    .registration-form-wrapper{
        width: 98%;
    }
}