@media only screen and (max-width: 1500px) {
    .registration-form-wrapper{
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .registration-form-wrapper{
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {
    .registration-form-wrapper{
        width: 98%;
    }
}